.credit {
    overflow: hidden;
}

.credit__body {
    position: relative;
}

.credit__list {
    padding: 0;
    
    @media screen and (min-width: $desktop) {
        padding-bottom: 145px;
    }
}

.credit__list li {
    display: flex;
    padding-bottom: 40px;
}

.credit__text {
    padding-left: 20px;

    font-family: var(--general-font);
    font-size: 20px;
    line-height: 115%;
    text-decoration-line: underline;
    color: var(--color-title-first);

    @media screen and (min-width: $desktop) {
        font-size: 24px;
    }
}

.credit__many {
    position: absolute;
    width: 220px;
    height: 145px;
    left: -10px;
    top: -30px;

    @media screen and (min-width: $tablet) {
        width: 440px;
        height: 290px;
        top: -30%;
        left: 45%;
    }
    
}

.credit__lock {
    position: absolute;
    width: 95px;
    height: 85px;
    top: -20px;
    left: 100px;


    @media screen and (min-width: $tablet) {
        display: none;
        top: -30%;
        left: 75%;
    }

    @media screen and (min-width: $tablet) {
        top: -30%;
        left: 75%;
        width: 245px;
        height: 225px;
    }
}

.credit__avto {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 440px;
    height: auto;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        position: absolute;
        
        max-width: 690px;
        height: auto;
        top: -15%;
        left: 45%;
    }
}