// .questions__body {
    

//     @media screen and (min-width: $desktop) {
//         display: flex;
//     }
// }

// 

// .questions__text {
//     font-family: var(--general-font);
//     font-size: 18px;
//     line-height: 115%;
//     color: var(--text-color-general);

//     @media screen and (min-width: $tablet) {
//         font-size: 20px;  
//     }
// }

// .questions__faq {
//     min-width: 320px;
//     margin-bottom: 30px;
//     border-bottom: 2px solid #EDEDED;

//     @media screen and (min-width: $tablet) {
//         width: 730px;
//     }

//     @media screen and (min-width: $desktop) {
//         width: 640px;
//     }
// }

// .questions__list {
//     padding: 0;
// }

// .questions__list li {
//     display: flex;
// }

// .questions__icon {
//     margin-right: auto;
// }

.faq__body {
    display: block;

    @media screen and (min-width: $desktop) {
      display: flex;
  }
}

.faq__form {
    display: block;
    min-width: 320px;
    margin-bottom: 100px;
    height: auto;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 35px 30px;
    gap: 24px;

    background: #FFFFFF;
    border: 2px solid #503428;
    border-radius: 10px;
    
    text-align: center;   

    @media screen and (min-width: $desktop) {
        margin-left: 130px;
        min-width: 420px;
    }
}

.faq__form__input {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
    margin-left: 50px;
}
}



.faq__form-name {
    font-family: 'Jost';
    font-size: 18px;
    line-height: 115%;

    color: #B8BABE;

    align-items: center;
    padding: 15px 20px;
    margin-top: 24px;

    min-width: 280px;
    height: 48px;

    background: #F4F6FA;
    border: 1px solid #B8BABE;
    border-radius: 10px;

    @media screen and (min-width: $tablet) {
        min-width: 400px;
        font-size: 20px;
    }

      @media screen and (min-width: $tablet) {
        min-width: 280px;
  }
}

.faq__form-bt {
    cursor: pointer;
    margin-top: 24px;
    min-width: 280px;
    min-height: 50px;

    border: 1px solid #000000;
    border-radius: 10px;

    background-color: #fff;

    font-family: var(--general-font);
    font-size: 18px;
    line-height: 115%;
    color: var(--text-color-general);

    @media screen and (min-width: $tablet) {
        font-size: 20px;
    }
}

// .plus::after,
// .plus::before {
//     content: '';
//     display: block;
//     border: 1px black solid;
//     width: 2px;
//     height: 20px;
//     border-radius: 50%;
// }

// .plus::before {
//     position: absolute;
//     transform: rotate(90deg);
// }

// .layout {
//     width: 600px;
//     margin: auto;
//   }

// .accordion {
//   }
//   .accordion__question p {
//     cursor: pointer;
//     width: 640px;
//     margin-bottom: 20px;

//     font-family: var(--general-font);
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 115%;
//     color: var(--text-color-general);

//     @media screen and (min-width: $tablet) {
//         font-size: 22px;
//     }

//     @media screen and (min-width: $desktop) {
//         font-size: 24px;
//     }
//   }

//   .accordion__answer p {
//     font-family: var(--second-font);
//     font-size: 24px;
//     line-height: 125%; 
//     text-transform: uppercase;
//     color: var(--color-title-first);

//     @media screen and (min-width: $tablet) {
//         font-size: 28px;
//     }

//     @media screen and (min-width: $desktop) {
//         font-size: 30px;
//     }
//   }

//   .accordion:hover {
//     cursor: pointer;
//   }

//   .accordion__answer {
//     display: none;
//   }

//   .accordion.active .accordion__answer {
//     display: block;
//   }

//   .faq__form-text {
    
// }

.layout {
    margin-bottom: 100px;
  }

  .accordion {
    // padding: 10px;
    // margin-top: 10px;
    // margin-bottom: 10px;

    // border-bottom: 2px solid #EDEDED;
    
    // width: 640px;
    min-width: 320px;
    margin-bottom: 30px;
    border-bottom: 2px solid #EDEDED;

    @media screen and (min-width: $tablet) {
        width: 730px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 640px;
    }

  }

  .accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: var(--general-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    color: #020202;
  }
  .accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-family: var(--general-font);
    font-size: 20px;
    line-height: 115%;
    color: #000000;
  }

  .accordion:hover {
    cursor: pointer;
  }

  .accordion__answer {
    display: none;
  }

  .accordion.active .accordion__answer {
    display: block;
  }

  .accordion__question {
    position: relative;
  }

  .accordion__question span:before,
  .accordion__question span:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 20px;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid #000000;
    transform: rotate(90deg);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;


  }

  .accordion__question span:before {
    transform: rotate(0deg);
  }

  .accordion.active .accordion__question span:before {
    transform: rotate(45deg);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  }

  .accordion.active .accordion__question span::after {
    transform: rotate(-45deg);
  }

  // .accordion__question span::before {
  //   position: absolute;
  //   width: 0px;
  //   height: 20px;
  //   right: 0;
  //   top: 0;
  //   border-radius: 30%;
  //   border: 2px solid #000000;
  //   transform: rotate(180deg);
  // }

  // .accordion.active .accordion__question span::before {
  //   transform: rotate(-45deg);
  // }

  // .accordion__question::before {
  //   content: "";
  //   display: flex;
  //   width: 0px;
  //   height: 20px;
  //   left: 20px;
  //   top: 10px;
    
  //   border: 2px solid #000000;
  //   transform: rotate(90deg);
  // }

  // .accordion.active .accordion__question::before {
  //   content: "";
  //   transform: rotate(45deg);
  // }