.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #b8babe;
    opacity: 50%;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo {

}

.header__burger {

}

.header__menu {
    
}

.menu__list {

    @media (min-width: $tablet) {
        display: flex;
        align-items: center;
    }
}

.menu__link li {
    position: relative;
    margin: 0 0 0 20px;

    @media (min-width: $tablet) {
        padding: 10px 0;
    }
}

.header__list li {
    margin-left: 60px;
}

.menu__link {
    font-family: var(--general-font);
    font-size: 20px;
    line-height: 115%;
    color: var(--header-color-text);
}

.header__contact {
    font-family: var(--general-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    color: var(--header-color-text);
}