body {
    font-family: var(--general-font);
    color: var(--text-color-general);
}

a {
  color: var(--text-color-general);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-bullet {
  fill: #B8BABE;
}

.title__bullet {
  display: flex;
  align-items: baseline;
}