:root {
    --first-color-bg: #FFFFFF;
    --second-color-bg: #F1F8FA;
    --header-color-text: #ffffff;
    --text-color-general: #000000;
    --color-title-first: #020202;
    --color-title-second: #F1F8FA;
    --general-font: "Jost", sans-serif;
    --second-font: src: url(./fonts/DelaGothicOne-Regular) format('ttf'), sans-serif;
    --hover-btn: #503428;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.section__fon {
    background-color: var(--color-title-second);
}